p{
	text-align: center;
}
.ccode,.cname{
	font-weight: bold;
}
#section{
	border: 2px #888888 solid;
	border-left: 0px;
	border-right: 0px;
	background-color: #f9f9f9;
	font-size: 20px;
	color: #888;
	height:400px;
	margin-top: 5px;
	margin-bottom: 22px;
	margin-right: 10px;
	float: left;
	padding: 10px;
	margin-left: 10px;
	width: 670px;
	overflow-y:scroll;
}
#section .courseinfo{
	height:100px;
	width:95%;
	margin:	10px;
	margin-left: 15px;
	padding: 10px;
}
#section .course_pic{
	float:left;
	font-size: 16px;
	width:100px;
	height:100%;
	background:#33cc33;
	color:#fff;
	border-radius:7px;
	border:0px;
	padding-bottom::10px;
}
#section .single_courseinfo{
	height:100%;
	color:#888;
	font-size: 16px;
	margin-left:110px;
	padding-left: 10px;
	width:510px;
	background-color: #ffffff;
	border-radius: 7px;
}
#section .single_courseinfo p{
	text-align: left;
	display:inline;
}
#search{
	width: 50%;
	padding: 5px;
	margin: 5px 0px 5px 10px;
}
#search_button{
	font-family:Consolas;
	color: #fff;
	background-color:#06f;
	border: 0px;
	padding: 7px;
	border-radius: 5px;
}
#aside,#info{
	color:#888;
	margin-top:5px;
	margin-right: 10px;
	margin-left: 10px;
	float: right;
	width: 220px;
	border: 2px #888888 solid;
	background-color: #f9f9f9;
}
