body{
	background-color:#eeeeee;
	font-family: Consolas;
}
#header{
	border-radius: 5px;
	padding: 10px;
	background-color: #f9f9f9;
}
#logo{
	float:left;
}
#logo img{
	padding: 10px;
}
#info p{
	font-family: Arial;
	color: #888;
	text-align: left;
	margin:5px;
	padding: 5px;
	letter-spacing: 1.5px;
}
#header h5{
	margin: 0px;
	color: #06f;
}
/*style the main menu*/
.myMenu {
	margin:10px;
	padding:25px;
}

.myMenu li {
	list-style:none;
	float:left;
	width: 150px;
	font:12px Arial, Helvetica, sans-serif #fff;
}

.myMenu li a:link, .myMenu li a:visited {
	display:block;
	text-decoration:none;
	background-color:#06F;
	padding: 0.5em 2em;
	margin:0;
	border-right: 1px solid #fff;
	color:#fff;
}

.myMenu li a:hover {
	background-color:#0CF;	
}

/*style the sub menu*/
.myMenu li ul {
	position:absolute;
	visibility:hidden;
	border-top:1px solid #fff;
	width: 150px;
	margin:0;
	padding:0;
}

.myMenu li ul li {
	display:inline;
	float:none;
}

.myMenu li ul li a:link, .myMenu li ul li a:visited {
	background-color:#06F;
	width:auto;
}

.myMenu li ul li a:hover {
	background-color:#0CF;	
}
#footer{
	color: #0066ff;
	clear: both;
	text-align: center;
	padding: 5px;
	background: #f9f9f9;
}
#footer img{
	height: 25px;
	width: 67px;
}
