body{
	background-color:#eeeeee;
	font-family: Consolas;
}
#header{
	border-radius: 5px;
	padding: 10px;
	background-color: #f9f9f9;
}
#logo{
	float:left;
}
#logo img{
	padding: 10px;
}
#info p{
	font-family: Arial;
	color: #888;
	text-align: left;
	margin:5px;
	padding: 5px;
	letter-spacing: 1.5px;
}
#header ul{	
	list-style-type:none;
	padding-top:1%;
	padding-bottom: 2%;
	margin-left:15%;
	margin-right:25%;
}
#header h5{
	margin: 0px;
	color: #06f;
}
#header ul li a{
	text-decoration:none;
	color:#ffffff;
	font-size: 16px;
	text-align: center;
	width:120px;
	height:25px;
	padding:5px 10px;
	background:#0066ff;
	margin-left:1px;
	display:inline;
	float:left;
}
#footer{
	color: #0066ff;
	clear: both;
	text-align: center;
	padding: 5px;
	background: #f9f9f9;
}
#footer img{
	height: 25px;
	width: 67px;
}
