#aside{
	color:#888;
	margin-top:5px;
	margin-right: 10px;
	margin-left: 10px;
	float: left;
	width: 280px;
	border: 2px #888888 solid;
	background-color: #f9f9f9;
}
#form{
	display:inline;
}
.filter{
	background-color:#0066ff;
	font-family: Consolas;
	border:0px;
	border-radius:3px;
	color:#fff;
}

#info, #aside #select_course,#filter_year{
	padding:5px;
	margin:5px;
	width: 90%;
}

#section{
	border: 2px #888888 solid;
	border-left: 0px;
	border-right: 0px;
	background-color: #f9f9f9;
	font-size: 20px;
	color: #888;
	height:362px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
	float: right;
	padding: 10px;
	margin-left: 10px;
	width: 600px;
	overflow-y:scroll;
}

#section #record_info{
	margin: 10px;
	margin-left:30px;
	width:95%;
}
#section table {
	width:95%;
	text-align: center;
	border-collapse:collapse;
	table-layout:fixed;
	font-size: 18px;

}
#section table td{
	padding:2px;
	border-bottom: 2px solid #f9f9f9;
	border-radius: 2px;
	width:30%;
	background-color: #ffffff;
	color:#888888;
}
#section table th{
	padding:2px;
	border-radius: 2px;
	background-color: #33cc33;
	color: #ffffff;
}

#total{
	border-radius: 2px;
	background-color: #33cc33;
	color:#ffffff;
	width: 200px;
	padding: 2px 5px 2px 5px;
	font-size: 18px;
}
#course{
	font-family: Consolas;
	width: 100%;
	height: 25px;
}
#aside th{
	text-align:left;
}
#aside td{
	width: 250px;;
}
#button{
	text-align: center;
	padding-top:5px;
	padding-bottom:5px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
	clear: both;
	width: 940px;
}
#summary{
	background-color:#0066ff;
	border:0px;
	width:140px;
	height:40px;
	font-family:Consolas;
	font-size:16px;
	border-radius:2px;
	color:#ffffff;
	padding:5px;
}
