/*css file for styling the pages*/
body{
    font-family: consolas;
    background: #ccc;
}
p{
    text-align: center;
}
#main{
    padding: 5%;
}
.textbox { 
    background: white; 
    border: 1px solid #0066ff; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #0066ff; 
    color: #666; 
    outline: none; 
    height:45px; 
    width: 275px; 
} 
#signin{
	border-radius: 2px;
	background-color: #0066ff ;
	border: 0px;
	width: 55px;
	height: 25px;
	color: #fff;
}
