p{
	text-align: center;
}
#aside{
	color:#888;
	margin-top:5px;
	margin-right: 10px;
	margin-left: 10px;
	float: left;
	width: 220px;
	border: 2px #888888 solid;
	background-color: #f9f9f9;
}
#aside table{
	padding-left: 10px;
}

#section{
	border: 2px #888888 solid;
	border-left: 0px;
	border-right: 0px;
	background-color: #f9f9f9;
	font-size: 20px;
	color: #888;
	height:355px;
	margin-top: 5px;
	margin-bottom: 15px;
	margin-right: 10px;
	float: right;
	padding: 10px;
	margin-left: 10px;
	width: 670px;
	overflow-y:scroll;
}
#section .courseinfo{
	height:100px;
	width:95%;
	margin-left: 15px;
	padding: 10px;
}
#section .course_pic{
	float:left;
	font-size: 16px;
	width:100px;
	height:100%;
	background:#33cc33;
	color:#fff;
	border-radius:7px;
	border:0px;
	padding-bottom::10px;
}
#section .single_courseinfo{
	height:100%;
	color:#888;
	font-size: 16px;
	margin-left:110px;
	padding-left: 10px;
	width:510px;
	background-color: #ffffff;
	border-radius: 7px;
}
#section .single_courseinfo p{
	text-align: left;
	display:inline;
}
.ccode,.cname{
	font-weight: bold;
}
#form{
	display:inline;
}
.filter{
	background-color:#0066ff;
	font-family: Consolas;
	border:0px;
	border-radius:3px;
	color:#fff;
}
td{
	width:120px;
}
th{
	text-align:left;
}
#button{
	text-align: center;
	padding-bottom:5px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 7px;
	clear: both;
	width: 940px;
}
#register{
	background-color:#0066ff;
	font-family: Consolas;
	font-size: 16px;
	border:0px;
	width: 140px;
	height: 40px;
	border-radius:3px;
	color:#fff;
}
